*{
    margin-top: 25%;
    margin-left: 7%;
}

#player1, #player2{
    display: inline-block;
    width: 200px;
    height: 140px;
    border: 5px solid black;
    padding: 5px;
    margin: 25px;
    font-size: 7em;
    text-align: center;
}

#output{
    width: 550px;
    text-align: center;
    font-size: 2em;
}

button{
    width: 250px;
    margin: 10px 5px;
    padding: 10px;
    margin-left: 19%;
}

#scoreBoard div{
    display: inline-block;
    margin: 10px 65px;
}

span{
    color: red;
}